

.upload-form {
  display: none;
}


.review-form {
  display: none;
}

.editable-review {
    display: none;
}

.recipe-instructions {
    display: none;
}

.alert {
    float: right;
}

.add-recipe {
    /*float: right;*/
}

.load-on-bottom {
    text-align: center;
    display: none;
}

.del-recipe {
    display:inline;
}

.review-recipe{
    display:inline;
}
