<!doctype html>
<html>
<head>
  <title>ChefBox - {% block title %} title {% endblock %}</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <script src="http://code.jquery.com/jquery.js"></script>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}


  {% if 'user_id' in session %}
    <a href="/logout"> Log Out </a><br>
    <a href="/users/{{session['user_id']}}"> Dashboard </a><br>


  {% endif %}





  {% block content %} put your content here {% endblock %}

</body>
</html>