{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<body id="dashboard-bg">
<div id="dashboard-content">
    <h1>Hello, {{ user.firstname }}!</h1><br>

    <div id="food-fact">
        <p><h3>Random Food Fact for Thought</h3>
            {{ trivia }}
        </p><br>
    </div>

    <p><h5 id="dashboard-question">What will you be cooking today?</h5></p>
    <p id="dashboard-search"><a href="/search_recipe" id="search-recipe-dashboard">Search for Recipes</a></p>




</div>
</div>

{% endblock %}