{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}


{% block content %}

<h2>Sign Up</h2>
<div>
<form action="/register" method="POST">
    First Name: <input type="text" name="firstname" id="firstname"><br>
    Last Name: <input type="text" name="lastname" id="lastname"><br>
    Email Address: <input type="email" name="email" id="email" required="required"><br>
    Password: <input type="password" name="password" id="password" required="required"><br>
    Confirm Password: <input name="password_confirm" required="required" type="password" id="password_confirm" oninput="check(this)" /><br>

    <input type="submit" name="submit">
</form>
</div>


<h2>Log In</h2>
<form action="/login" method="POST">
  Email Address: <input type="email" name="email" id="email"><br>
  Password: <input type="password" name="password" id="password"><br>
  <input type="submit" name="submit" value="Login">
</form>


<script>
   function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>

{% endblock %}