<!doctype html>
<html>
<head>
  <title>ChefBox</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <!-- Show flashed messages -->

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<div id="log-in">
<form action="/login" method="POST" class="form-inline">
  <div class="form-group">
    <input type="email" class="form-control" name="email" id="email" placeholder="Email"> &nbsp;
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" id="password" placeholder="Password"> &nbsp;
  <input type="submit" name="submit" value="Login" class="btn btn-primary">
</div>
</form>
</div>

  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  

<br>

<div id="sign-up">
<form action="/register" method="POST">
    <div>
      <div class="form-group row">
      <input type="text" class="form-control col-sm-4" name="firstname" id="firstname" placeholder="First">&nbsp;
      <input type="text" class="form-control col-sm-4" name="lastname" id="lastname" placeholder="Last">&nbsp;
    </div>
    <div class="form-group row">
      <input type="email" class="form-control col-sm-8" name="email" id="email" required="required" placeholder="Email">&nbsp;<br>
    </div>
    <div class="form-group row">
      <input type="password" class="form-control col-sm-4" name="password" id="register-password" required="required" placeholder="Password">&nbsp;
      <input type="password" class="form-control col-sm-4" name="confirm-password" id="confirm-password" required="required" placeholder="Confirm">
      <br>
      <span id='message'></span><br>
    </div>
    <div class="form-group row">
      <input type="submit" id="signup-submit" name="submit" class="btn btn-primary" value="Register">
    </div>


</form>
</div>





<script>

    $('#register-password, #confirm-password').on('keyup', function () {
      if ($('#register-password').val() == $('#confirm-password').val()) {
        $('#message').html(' Matching').css('color', 'green');
        $("#signup-submit").attr('disabled', false);
      } 
      else if ($('#register-password').val() =="" && $('#confirm-password').val()=="") {
        $('#message').html('');
      }
      else {
        $('#message').html(' Not Matching').css('color', 'red');
        $("#signup-submit").attr('disabled', true);
    }
  });

// </script>

</body>
</html>