{% extends 'base.html' %}

{% block title %}Search Recipe{% endblock %}

{% block content %}


    <h2>Search for a Recipe</h2>

    {% if not user.ingredients %}
      <p>Add ingredients to include in search:</p>
      <form action="/add_ingred" method="POST" id="new-ingred">
        <input type="text" name="ingredient" id="new-ingredient">
        <input type="submit" value="Add">
      </form>

    {% endif %}

    {% if user.ingredients %}
    <p>Add ingredient to search query:</p>
      <form action="/add_ingred" method="POST" id="add-ingred">
        <input type="text" name="ingredient" id="ingredient">
        <input type="submit" value="Add">
      </form>
    {% endif %}

    <form action="/request_recipe" method="POST">
      {% if user.ingredients %}
        <p>Include Ingredients from Inventory:</p>
        <ul id="ingred-list">
          {% for ingredient in user.ingredients %}
              <li><input type="checkbox" name="search_ingredients" value="{{ ingredient.ingred_name }}" checked>{{ ingredient.ingred_name.title() }}</li>
          {% endfor %}
        </ul>

      {% else %}
      <ul id="new-ingred-list">
      </ul>

      {% endif %}<br>

          Preferred Cuisine(s)<br>
          (optional):<br>
            <ul>
            {% for cuisine in cuisines %}
                <li><input type="checkbox" name="cuisines" value="{{ cuisine }}">{{ cuisine.title() }}</li>
            {% endfor %}
            </ul><br>


          Dietary Restrictions: 
          <select name="diet">
            <option value="">None</option><br>
            {% for diet in diets %}
            <option value="{{ diet }}">{{ diet.title() }}</option><br>
            {% endfor %}
          </select><br>

          <p></p>

          Allergies or Intolerances: 
            <ul>
            {% for intolerance in intolerances %}
                <li><input type="checkbox" name="intolerances" value="{{ intolerance }}">{{ intolerance.title() }}</li>
            {% endfor %}
            </ul><br>
        <input type="submit" value="Search">
        </form>




<script src="/static/search_recipe.js"></script>


{% endblock %}




