{% extends 'base.html' %}

{% block title %}Search Recipe{% endblock %}

{% block content %}
<body id="search-bg">
<div class="explanatory-header-text">
    <h2>Search for Recipes</h2>
</div>
<div id="search-alerts"></div>
<div id="search-form-query">

    {% if not user.ingredients %}
      <p>Add ingredients to include in search:</p>
      <form action="/add_ingred" method="POST" id="new-ingred">
        <input type="text" name="ingredient" id="new-ingredient">
        <input class="btn btn-primary btn-sm" type="submit" value="Add">
      </form>

    {% endif %}

    {% if user.ingredients %}
    <p>Add ingredient to search query:</p>
      <form action="/add_ingred" method="POST" id="add-ingred">
        <input type="text" name="ingredient" id="ingredient">
        <input class="btn btn-primary btn-sm" type="submit" value="Add">
      </form>
    {% endif %}
    <br>
    <form action="/request_recipe" method="POST">
      {% if user.ingredients %}
        <p>Include Ingredients from Inventory:</p>
        <ul id="ingred-list">
          {% for ingredient in user.ingredients %}
              <li class="search-checkbox"><input type="checkbox" class="custom-checkbox" name="search_ingredients" value="{{ ingredient.ingred_name }}" checked> {{ ingredient.ingred_name.title() }}</li>
          {% endfor %}
        </ul>

      {% else %}
      <ul id="new-ingred-list">
      </ul>


      {% endif %}
      Keywords (optional)<br>
      <span class="search-footnote">(e.g., cookies, soup, pan-seared, roasted)</span>
      <input type="text" name="query"><br><br>

          Preferred Cuisine(s)<br>
          <span class="search-footnote">(optional):</span><br>
            <ul>
            {% for cuisine in cuisines %}
                <li class="search-checkbox"><input type="checkbox" name="cuisines" value="{{ cuisine }}"> {{ cuisine.title() }}</li>
            {% endfor %}
            </ul><br>


          Dietary Restrictions: 
          <select class="custom-select" name="diet">
            <option value="">None</option><br>
            {% for diet in diets %}
            <option value="{{ diet }}">{{ diet.title() }}</option><br>
            {% endfor %}
          </select><br>

          <p></p>

          Allergies or Intolerances: 
            <ul>
            {% for intolerance in intolerances %}
                <li class="search-checkbox"><input type="checkbox" name="intolerances" value="{{ intolerance }}"> {{ intolerance.title() }}</li>
            {% endfor %}
            </ul><br>
        <div id="search-button-div">
        <input class="btn btn-primary" type="submit" value="Search">
      </div>
        </form>

</div>


<script src="/static/search_recipe.js"></script>


{% endblock %}




