{% extends 'base.html' %}

{% block title %}Recipe Box{% endblock %}

{% block content %}

    <h2>Recipe Box</h2>
    <p>Mark completed recipes as "Cooked" to move them to your Chef Board, which will save each recipe and allow you to upload a photo and add a review!<br>
      If you are no longer interested in a recipe, you can "Remove" it from your recipe box.
    </p>
    {% if user.recipes %}
      <ul>
        {% if recipes_list %}
          {% for recipe in recipes_list %}
            <table>
                          <tr>
                            <th>{{ recipe.title.title() }}</th>
                          </tr>
                          <tr>
                            <td> via {% if recipe.url and recipe.source_name %}<a href="{{ recipe.url }}" target="_blank"> {{ recipe.source_name }} </a> 
                                    {% elif recipe.url %}
                                      <a href="{{ recipe.url }}" target="_blank"> [Original Source] </a> 
                                    {% else %} 
                                      {{ recipe.source_name }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                              <td>Ingredients<br>
                                <ul>
                                {% for ingredient in recipe.ingredient_info %}
                                    <li>{{ ingredient.ingred_info }}</li>
                                {% endfor %}
                              </ul>
                              </td>
                            </tr>
                              <tr>
                                <td>
                                  {% set instruction_list = recipe.instructions[2:-2].split("\",\"") %}
                                  <button type="button" class="instructions-button">View Instructions</button>
                                  <ol class="recipe-instructions">
                                  {% for instruction in instruction_list %}
                                    <li>{{ instruction }}</li>
                                  {% endfor %}
                                  </ol>
                                </td>
                              </tr>
                            <tr>
                              <td>
                              <form action="/review_recipe" method="POST">
                                    <button type="submit" class="review-recipe" name="recipe_id" value="{{ recipe.recipe_id }}">Cooked</button>
                              </form>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <form action="/del_recipe" method="POST">
                                    <button type="submit" class="del-recipe" name="recipe_id" value="{{ recipe.recipe_id }}">Remove</button>
                              </form>
                              </td>
                            </tr>
                      </table>
                      <p></p>

            {% endfor %}

      {% else %}  
        </ul>
        <p>There are currently no recipes saved in your recipe box.</p>
      {% endif%}

    {% else %}
      <p>There are currently no recipes saved in your recipe box.</p>

    {% endif %}

  <p><a href="/search_recipe">Search for recipes</a></p>


<script src="/static/user_recipes.js"></script>


{% endblock %}




