{% extends 'base.html' %}

{% block title %}Chef Board{% endblock %}

{% block content %}
<div class="explanatory-header-text">
    <h2>Chef Board</h2>
    {% if user.reviews %}
    <p>Upload a photo and write a review of your completed recipes below!
    </p>
  </div>
<div id="alert-area"></div>
    <div class="card-columns">  
    {% for review in user.reviews %}
      <div class="card">
        <div class="card-block">  
          <h4 class="card-title">{{ review.recipe.title.title() }}</h4>
          <p class="card-text">
            Recipe via {% if review.recipe.url and review.recipe.source_name %}<a href="{{ review.recipe.url }}" target="_blank" class="card-link">  {{ review.recipe.source_name }} </a> 
                      {% elif review.recipe.url %}
                        <a href="{{ review.recipe.url }}" target="_blank" class="card-link"> [Original Source] </a> 
                      {% else %} 
                        {{ review.recipe.source_name }}
                      {% endif %}
          </p>
        </div>
      <div class="card-block">
        <div class="photo-with-credit">
          {% if review.photo_url %}
            <img class="card-img-top img-fluid" src="/static/photos/{{ review.photo_url }}"><br>
            Photo by {{ user.firstname }} {{ user.lastname }}<br>
          {% endif %}
        </div>
        <button type="button" class="upload-button btn btn-primary btn-sm">
          {% if review.photo_url %}
            Update Photo
          {% else %}
            Upload Photo
          {% endif %}
        </button>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}" class="upload-form">
          <input type="file" name="photo"><br>
          <input type="hidden" name="recipe_id" value="{{ review.recipe_id }}" class="photo-recipe-id">
          <input type="submit" class="btn btn-primary btn-sm">
        </form>
        {% if review.photo_url %}
          <form action="/del_photo" method="POST" class="del-photo">
            <button type="submit" class="delete-photo-btn btn btn-secondary btn-sm" name="review_id" value="{{ review.recipe_id }}">Delete Photo</button>
            <input type="hidden" name="recipe_id" value="{{ review.recipe_id }}">
          </form>
        {% endif %}
        <div class="new-del-button">
        </div>
      </div>
      <div class="card-block">
        <h5>Recipe Review</h5>
        {% if not review.review %}
          <div class="review">
          </div>
          <form action="/write_review" method="POST" class="review-form" id="{{ review.review_id }}"> 
            <textarea form="{{ review.review_id }}" name="review"></textarea><br>
            <input type="hidden" name="recipe_id" value="{{ review.recipe_id }}">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm">
          </form>
          <button type="button" class="edit-review-btn btn btn-outline-primary btn-sm">Review Recipe</button><br>
        {% else %}
          <div class="review">{{ review.review }}<br>
          </div>
            <form action="/write_review" method="POST" class="review-form" id="{{ review.review_id }}">
              <textarea form="{{ review.review_id }}" name="review">{{ review.review }}</textarea><br>
              <input type="hidden" name="recipe_id" value="{{ review.recipe_id }}">
              <input type="submit" class="edited-review btn btn-primary btn-sm">
            </form>
          <button type="button" class="edit-review-btn btn btn-outline-primary btn-sm">Edit Review</button>
        {% endif %}
      </div>
      <div class="card-block">
        <h5>Ingredients</h5>
        <ul>
          {% for ingredient in review.recipe.ingredient_info %}
            <li>{{ ingredient.ingred_info }}</li>
          {% endfor %}
        </ul>
        <button type="button" class="instructions-button btn btn-outline-info">View Instructions</button><br>
        {% set instruction_list = review.recipe.instructions[2:-2].split("\",\"") %}
        <ol class="recipe-instructions">
        {% for instruction in instruction_list %}
          <li>{{ instruction }}</li>
        {% endfor %}
        </ol>
      </div>
    </div>
    {% endfor %}
  </div>




    {% else %}
      <p>There are currently no completed recipes from your recipe box. <a href="/recipes/{{session['user_id']}}">Get cooking</a>!</p>

    {% endif %}




 <script src="/static/user_board.js"></script>



{% endblock %}




