{% extends 'base.html' %}

{% block title %}Ingredient Inventory{% endblock %}

{% block content %}

    <h2>Ingredient Inventory</h2>
    <h3>Add Ingredient</h3>
    <form action="/add_ingred" method="POST" id="add-ingred">
      <input type="text" name="ingredient" id="ingredient">
      <input type="submit" value="Add">
    </form>
      
    <ul id="ingred_list">
    {% if user.ingredients %}

    {% for ingredient in user.ingredients %}
        <li id="ingredient-{{ingredient.ingred_id}}">{{ ingredient.ingred_name.title() }}</li>


        <form action="/del_ingred" method="post">
          <button type="submit" class="delete-button" name="ingredient" value="{{ ingredient.ingred_id }}">x</button>
        </form>
    {% endfor %}
    </ul>
    {% endif %}







<script src="/static/user_ingred.js"></script>


{% endblock %}