{% extends 'base.html' %}

{% block title %}Recipe Box{% endblock %}

{% block content %}

    <h2>Recipe Box</h2>
    {% if user.recipes %}
    <ul>
    {% for recipe in user.recipes %}
      <table>
                    <tr>
                      <th>{{ recipe.title }}</th>
                    </tr>
                    <tr>
                      <td> via {% if recipe.url and recipe.source_name %}<a href="{{ recipe.url }}"> {{ recipe.source_name }} </a> 
                              {% elif recipe.url %}
                                <a href="{{ recipe.url }}"> [Original Source] </a> 
                              {% else %} 
                                {{ recipe.source_name }}
                              {% endif %}
                          </td>
                      </tr>
                      <tr>
                        <td>Ingredients<br>
                          <ul>
                          {% for ingredient in recipe.ingredient_info %}
                              <li>{{ ingredient.ingred_info }}</li>
                          {% endfor %}
                        </ul>
                        </td>
                      </tr>
                        <tr>
                          <td>Instructions<br>
                            {{ recipe.instructions }}
                          </td>
                        </tr>
                      <tr>
                        <td>
                        <form action="/review_recipe" method="POST">
                              <button type="submit" name="recipe_id" value="{{ recipe.recipe_id }}">Cooked</button>
                        </form>
                        </td>
                      </tr>
                </table>
                <p></p>

      {% endfor %}
        </ul>


    {% else %}
      <p>There are currently no recipes saved in your recipe box.</p>

    {% endif %}

  <p><a href="/search_recipe">Search for recipes</a></p>





{% endblock %}




